{% if filtering %}
    <h1>Lista de Tareas Terminadas</h1>
    
    <a href="{% url 'app1:task_list' %}">Dejar de filtrar Terminadas</a>
{% else %}
    <h1>Lista de Tareas</h1>
    
    <a href="{% url 'app1:task_list_finished' %}">Filtrar Terminadas</a>
{% endif %}

<table>
    <tr>
        <th>Descripcion</th>
        <th>Terminada?</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for t in task_list %}
        {% if filtering %}
            {% if not t.is_finished %}
                <tr>
                    <td>{{ t.description }}</td>
                    <td>
                            Pendiente
                    </td>
                    <td>
                        <a href="{% url 'app1:edit_task_view' t.id %}">Editar tarea</a>
                    </td>
                    <td>
                        <a href="{% url 'app1:delete_task' t.id %}">Borrar</a>
                    </td>
                    <td>
                        <a href="{% url 'app1:finish_task' t.id %}">Terminar</a>
                    </td>
                </tr>
            {% endif %}    
        {% else %}
            <tr>
                <td>{{ t.description }}</td>
                <td>
                    {% if t.is_finished %}
                        Terminada
                    {% else %}
                        Pendiente
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'app1:edit_task_view' t.id %}">Editar tarea</a>
                </td>
                <td>
                    <a href="{% url 'app1:delete_task' t.id %}">Borrar</a>
                </td>
                <td>
                    <a href="{% url 'app1:finish_task' t.id %}">Terminar</a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    
    
</table>

</br>
<a href="{% url 'app1:create_task' %}">Crear nueva tarea</a>